:root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #2a2c39; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #88bfeb; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  
  :root {
    --nav-color: #ffffff;  /* The default color of the main navmenu links */
    --nav-hover-color: #88bfeb; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #060606; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #88bfeb; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }
  
  .dark-background {
    --background-color: #0459a0;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #564040;
    --contrast-color: #ffffff;
  }

.img-fluid{
    padding-top: 10%;
}
.btn-primary{
  --bs-btn-bg: #88bfeb;
  --bs-btn-border-color: #88bfeb;
}
.video{
  margin-left: auto;
  width: 200%;
}
.al{
  margin-left: 3%;
}
.col-md-4{
  padding-top: 7%;
}
 
.accordion{
  padding-left: 15%;
  padding-right: 15%;
}